
<!--http://guides.rubyonrails.org/layouts_and_rendering.html-->
<%= form_for @typetest, url: typetest do |f| %>
  <% if @typetest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typetest.errors.count, "error") %> prohibited this admin_typetest from being saved:</h2>

      <ul>
      <% @typetest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
