<%= form_for @step, url: step do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this admin_step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :expected %><br>
    <%= f.text_area:expected %>
  </div>

  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_area :result %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
